
body {
    width: 70%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

header {
    background-color: #814caf;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #333;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #575757;
}


main {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #81117e;
    color: white;
}